numpy>=2.5.0
matplotlib>=3.11.0
pandas>=2.3
sounddevice>=0.4.6
librosa>=0.10.0
soundfile>=0.14.0
openpyxl>=3.1.5
python-dotenv>=1.2.2
pillow>=12.2.0
tkcalendar>=1.6.1
reportlab>=5.0.0
cryptography>=49.0.0
